<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @collection.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @collection.image %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
